<header class="container-fluid">

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			
			<a class="navbar-brand" [routerLink]="['/home']">
				Linked<span class="secondary-color">Trip</span>
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" *ngIf="!viajerosService.isUserLogged()">
					<li class="nav-item">
						<a class="nav-link text-white px-4" [routerLink]="['/registro']">Regístrate</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white px-4" [routerLink]="['/login']">Iniciar Sesión</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto" *ngIf="viajerosService.isUserLogged()">
					<li class="nav-item mr-4">
						<a class="nav-link text-white" [routerLink]="['/usuario']"><i class="fas fa-user iconos-logged"></i><span class="ml-2">Perfil</span></a>
					</li>

					<li class="nav-item">
                        <a class="nav-link text-white salir" (click)="signOut()"><i class="fas fa-sign-out-alt iconos-logged"></i><span class="ml-2">Salir</span></a>
                    </li>
				</ul>


			</div>

		</nav>
	   
	</div>

</header>