.editar-viaje .campos {
	border-bottom: 1.15px solid #e3e3e3;
}

.editar-viaje .campos span.titulo_campo {
	padding: 4px 10px 3px 14px;
	background-color: #f3f3f3;
	color: rgba(7,70,132,0.7);
	font-weight: bold;
	border-radius: 10px;
	margin-right: 20px;
}

.editar-viaje ul.campos {
	margin-top: 20px;
}

.editar-viaje ul.campos li {
	display: inline-block;
	width: 50%;
	padding: 0 10px 20px 20px;
	border-bottom: 1.4px solid #e3e3e3;
}

.container-imagen {
	max-width: 250px;
}

img {
	width: 100%;
	max-width: 250px;
}


@media (max-width: 992px) {
	.nuevo-viaje ul.campos li {
		width: 100%;
	}
}

.editar-viaje ul.campos li:nth-last-child(1) {
	border-bottom: none;
}

.porcentaje {
	background-color: rgba(7,70,132,0.7);
	color: #f3f3f3;
}

.lista_destinos {
	padding: 0px 10px 0px 40px;
}

.lista_destinos div.flecha-y-destino {
	margin-top: 5px;
	margin-bottom: 5px;
}

.destino-elegido {
	margin: 10px 10px 0 0;
	padding: 3px 10px 3px 6px;
}


.fa-long-arrow-alt-right {
	position: relative;
	left: 0;
	top: 4px;
	margin-right: 8px;
	font-size: 1.4em;
	color: rgba(7,70,132,0.7);
}

.boton-add {
	padding-left: 25px;
	padding-right: 25px;
	cursor: pointer;
}

.boton-add:hover {
	background-color: rgba(7,70,132,1);
	color: #f2efb6
}