<div class="seccion-viajes">

	<div class="editar-viaje">
		
		<div class="cabeceras-perfil">
			<h2>Editar viaje</h2>
		</div>

	<div class="row">

		<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
			<input type="text" hidden formControlName="id">
			<div class="col-12 px-3 pt-0">
				<ul class="campos mb-0">

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Titulo:</span>
							<input type="text" class="form-control mt-2" formControlName="titulo">
						</div>
					</li>

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Viajeros máximos:</span>
							<input type="number" class="form-control mt-2" formControlName="viajeros_max">
						</div>
					</li>
					
					<li class="w-100 form-group">
						<div class="p-3">
							<span class="titulo_campo">Descripcion:</span>
							<textarea class="form-control mt-2" rows="3" formControlName="descripcion"></textarea>
						</div>
					</li>

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Fecha inicio:</span>
							<input type="date" class="form-control mt-2" formControlName="fecha_inicio">
						</div>
					</li>

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Fecha fin:</span>
							<input type="date" class="form-control mt-2" formControlName="fecha_fin">
						</div>
					</li>

					<li class="w-100 form-group">
						<div class="p-3">
							<span class="titulo_campo">Destinos:</span>
								
							<div class="buscador_destinos">
								<input type="text" id="inputPlace" class="form-control mt-2">
							</div>
							<div #div class="lista_destinos"></div>

						</div>
					</li>

					<li class="w-100 form-group">
						<div class="p-3">
							<span class="titulo_campo">Actividades:</span>
							<div class="input-group mb-2 mr-sm-2 mt-2">
								<input id="inputActividades" type="text" class="form-control" placeholder="Introduce una nueva actividad...">
								<div class="input-group-prepend">
									<div (click)="addActividad()" class="input-group-text boton-add">Añadir</div>
								</div>
							</div>
							<div #activi id="lista_activi" class="lista_destinos"></div>
						</div>
					</li>

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Alojamiento:</span>
							<select class="form-control mt-2" formControlName="alojamiento">
								<option hidden disabled selected value> Selecciona el alojamiento...</option>
								<option value="Camping">Camping</option>
								<option value="Casa Rural">Casa Rural</option>
								<option value="Apartamento">Apartamento</option>
								<option value="Motel">Motel</option>
								<option value="Hostal">Hostal</option>
								<option value="Hotel">Hotel</option>
								<option value="Resort">Resort</option>
								<option value="Otros">Otros</option>
							</select>
						</div>
					</li>

					<li class="form-group">
						<div class="p-3">
							<span class="titulo_campo">Nivel económico:</span>
							<select class="form-control mt-2" formControlName="nivel_economico">
								<option hidden disabled selected value> Selecciona el nivel económico...</option>
								<option value="Mochilero">Mochilero</option>
								<option value="Low Cost">Low Cost</option>
								<option value="Medio">Medio</option>
								<option value="Alto">Alto</option>
								<option value="Lujo">Lujo</option>
							</select>
						</div>
					</li>

					<li class="w-100 form-group">
						<div class="p-3">
							<span class="titulo_campo">Etiquetas:</span>
							<input type="text" class="form-control mt-2" formControlName="etiquetas">
						</div>
					</li>

					<li class="w-100 form-group">
						
						<div class="row d-flex p-3">
							<div class="col-sm-12 col-md-6  align-self-center">
								<span class="titulo_campo">Sube una imagen:</span>
								<input class="form-control mt-2" accept="image/png, image/jpeg" type="file" (change)="onChangeImage($event)">
							</div>

							<div class="col-sm-12 col-md-6 mx-auto p-3">
								<div class="container-imagen mx-auto">
									<img *ngIf="imageUrl; else elseImagen" [src]="imageUrl || './../../assets/images/placeholder-image.png'" alt="Foto del viaje">
									<p *ngIf="uploadPercent" class="mb-0 text-center porcentaje mx-auto text-center">{{ uploadPercent | async | number: '1.0-0' }} %</p>
								</div>
								
								<ng-template #elseImagen>
									<img [src]="viaje?.foto || './../../assets/images/placeholder-image.png'" alt="Foto de perfil">
								</ng-template>
							</div>
						</div>

					</li>

				</ul>
					
			</div>

			<div class="d-block text-center mx-auto my-4">
				<input class="btn btn-lg boton" type="submit" value="Guardar Cambios">
			</div>

		</form>

	</div>
		
</div>