<div class="cabeceras-perfil">
	<h2>Editar perfil</h2>
</div>

<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
	<input type="text" hidden formControlName="id">
	<div class="row perfil text-muted">

		<div class="seccion-perfil col-lg-6">

			<ul class="list-group list-group-flush datos">
				
				<li class="list-group-item form-group">
					<span>Usuario:</span>
					<input type="text" class="form-control mt-2" formControlName="usuario">
				</li>
				
				<li class="list-group-item form-group">
					<span>Email:</span>
					<input type="email" class="form-control mt-2" formControlName="email">
				</li>
				
				<li class="list-group-item form-group">
					<span>Contraseña:</span>
					<input type="password" class="form-control mt-2" formControlName="password">
				</li>
				<li class="list-group-item form-group">
					<span>Nombre:</span>
					<input type="text" class="form-control mt-2" formControlName="nombre">
				</li>
				<li class="list-group-item border-bottom form-group">
					<span>Apellidos:</span>
					<input type="text" class="form-control mt-2" formControlName="apellidos">
				</li>
			</ul>
			
		</div>

		<div class="col-lg-6 d-flex align-items-center d-flex justify-content-center">
			<div class="seccion-perfil d-flex flex-column align-items-center">
				
				<div class="imagen-perfil">
					<img *ngIf="imageUrl; else elseImagen" [src]="imageUrl || './../../assets/images/defaultphoto.jpeg'" alt="Foto de perfil">
					<ng-template #elseImagen>
						<img [src]="viajero?.foto_perfil || './../../assets/images/defaultphoto.jpeg'" alt="Foto de perfil">
					</ng-template>
					
					<p *ngIf="uploadPercent" class="mb-0 text-center porcentaje">{{ uploadPercent | async | number: '1.0-0' }} %</p>
				</div>

				<div class="mt-3">
					<input accept="image/png, image/jpeg" type="file" (change)="onChangeImage($event)">
				</div>
			</div>
		</div>	

		<div class="seccion-perfil col-12 px-3 pt-0">
			<ul class="otros-datos mb-0">
				<li class="w-100 form-group">
					<span>Sobre mi:</span>
					<textarea class="form-control mt-2" rows="3" formControlName="sobre_mi"></textarea>
				</li>

				<li class="form-group">
					<span>Ciudad:</span>
					<input type="text" class="form-control mt-2" formControlName="ciudad">
				</li>

				<li class="form-group">
					<span>Sexo:</span>
					<select class="form-control mt-2" formControlName="sexo">
						<option hidden disabled selected value> Selecciona tu sexo</option>
						<option value="M">Hombre</option>
						<option value="F">Mujer</option>
					</select>
				</li>

				<li class="form-group">
					<span>Fecha de nacimiento:</span>
					<input type="date" class="form-control mt-2" formControlName="fecha_nacimiento">
				</li>

				<li class="form-group">
					<span>Educación:</span>
					<select class="form-control mt-2" formControlName="educacion">
						<option value="Primaria">Primaria</option>
						<option value="Secundaria">Secundaria</option>
						<option value="Formación Profesional">Formación Profesional</option>
						<option value="Universidad">Universidad</option>
					</select>
				</li>

				<li class="form-group w-100">
					<span>Ocupación:</span>
					<input type="text" class="form-control mt-2" formControlName="ocupacion">
				</li>

				<li class="select-idioma w-100">
					<span class="idiomas">Idiomas:</span>
					<input type="text" class="form-control mt-2" formControlName="idiomas">
				</li>
				
			</ul>
					
		</div>

		<div class="seccion-perfil col-12 px-3 border-bottom pt-0">
			<ul class="intereses px-3">
				<li><span>Intereses:</span> </li>
				<input type="text" class="form-control mt-2" formControlName="intereses">
			</ul>
		</div>

		<div class="d-block text-center mx-auto my-4">
 			<input class="btn btn-lg boton" type="submit" value="Guardar cambios">
		</div>

	</div>

</form>