main section.perfil-usuario {
	padding-top: 130px;
	padding-bottom: 40px;
}

.cabecera {
	background-color: #f3f3f3;
	padding: 12px 0 12px;
	border-radius: 12px 12px 0 0;
}

.cabecera i {
	position: relative;
	top: 3px;
	font-size: 1.5em;
	padding-left: 15px;
	padding-right: 15px;
	color: rgba(7,70,132,0.7);
}

.cabecera div a {
	display: block;
	padding: 7px 15px 10px 0px;
	border-radius: 20px;
}

.cabecera div a:hover {
	background-color: rgba(7,70,132,0.7);
	color: white !important;
	text-decoration: none;
}

.cabecera div a:hover i {
	color: white;
}

.activa {
	background-color: rgba(7,70,132,0.7);
	color: white !important;
}

.activa i {
	color: white;
}


@media (max-width: 776px) {
	.cabecera div a span {
		display: none;
	}

	.cabecera div a {
		display: block;
		padding: 7px 5px 10px 5px;
	}
}

@media (max-width: 350px) {

	.cabecera div a {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.cabecera i {
		font-size: 1.2em;
		padding-left: 10px;
		padding-right: 10px;
	}
}
