<main>
	
	<section class="container-fluid perfil-usuario">

		<div class="container">

			<div class="username d-flex justify-content-between text-muted">
				<p class="mb-0"><i class="fas fa-user"></i>shu_ViaJerilla_44</p>
				<p class="mb-0"><span>Puntuación: </span>8.7<i class="fas fa-star"></i></p>
			</div>

			<div class="card cabecera-usuario rounded-0">
				<div class="row no-gutters">
					<div class="col-lg-6 d-flex align-items-center">
						<img src="../../assets/images/traveler.jpeg" class="card-img rounded-0" alt="Imagen del viaje">
					</div>
					<div class="col-lg-6">
						<div class="card-body">
							<h2 class="card-title text-center">Pepita del Valle García</h2>
							<hr>
							<p class="card-text sobre-mi mb-0">Sobre mí:</p>
							<p class="card-text text-muted sobre-mi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ea, praesentium veritatis, laudantium rem ratione eveniet, animi hic labore recusandae culpa mollitia! Ipsum assumenda temporibus minima nihil. Aut, asperiores animi!</p>
							<!-- <hr> -->
							<p class="card-text publicado"><small>Registrado el 02/11/2017</small></p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

</main>