<main>
	
	<section class="container-fluid perfil-usuario">

		<div class="container">

			<div class="username d-flex justify-content-between text-muted">
				<p class="mb-0"><i class="fas fa-user"></i>shu_ViaJerilla_44</p>
				<p class="mb-0"><span>Puntuación: </span>8.7<i class="fas fa-star"></i></p>
			</div>

			<div class="card cabecera-usuario rounded-0">
				<div class="row no-gutters">
					<div class="col-lg-6 d-flex align-items-center">
						<img src="../../assets/images/traveler.jpeg" class="card-img rounded-0" alt="Imagen del viaje">
					</div>
					<div class="col-lg-6">
						<div class="card-body">
							<h2 class="card-title text-center">Pepita del Valle García</h2>
							<hr>
							<h3 class="card-text sobre-mi mb-0">Sobre mí:</h3>
							<p class="card-text text-muted sobre-mi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ea, praesentium veritatis, laudantium rem ratione eveniet, animi hi labore recusandae culpa mollitia! Ipsum assumenda temporibus minima nihil. Aut, asperiores animi! Lorem ipsum dolor si amet, consectetur adipisicing elit. Nisi itaque voluptatum enim fuga ducimus ipsum, nostrum quam eos. Officia, fugiat. Lorem ipsum dolor si amet.</p>
							<p class="card-text registrado"><small>Registrado el 02/11/2017</small></p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="contenido-usuario row">
				<div class="col-lg-6 seccion-usuario px-0 border">
					<h3 class="p-3 mb-0">INTERESES</h3>
					<div class="intereses text-muted">
						<div>Cine</div>
						<div>Videojuegos</div>
						<div>TV</div>
						<div>Correr</div>
						<div>Dormir</div>
						<div>Programar</div>
						<div>Playa</div>
						<div>Natación</div>
					</div>
				</div>

				<div class="col-lg-6 seccion-usuario px-0 border">
					<h3 class="p-3 mb-0">OTROS DATOS</h3>
					<div class="otros-datos text-muted">
						<p><span><i class="fas fa-map-marker-alt"></i></span> Málaga</p>
						<p><span><i class="fas fa-venus-mars"></i></span> Mujer</p>
						<p><span><i class="fas fa-birthday-cake"></i></span> 29 años</p>
						<p><span><i class="fas fa-graduation-cap"></i></span> Formación Profesional</p>
						<p class="w-100"><span><i class="fas fa-briefcase"></i></span> Técnico superior en gestion de equipos</p>
						<p class="w-100"><span><i class="fas fa-comment"></i></span> Español, Inglés, Francés, Portugués</p>
					</div>
				</div>

				<div class="col-12 seccion-usuario px-0 border">
					<h3 class="p-3 mb-0">COMENTARIOS Y PUNTUACIÓN</h3>
					<div class="comentarios">
						<div>
							<div class="d-flex justify-content-between mb-3">
								<h4 class="mb-0 pb-0">Gran viajera cercana!<span class="puntos">8.9</span></h4>
							</div>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis molestias, in atque impedit, rerum optio ad aperiam officia cumque, provident molestiae deleniti, obcaecati labore necessitatibus iste deserunt at vel nesciunt!</p>

							<div class="comentario-footer">
								<p class="mb-0">Comentado por: viajero92839</p>
								<p class="mb-3">En el viaje: "Vamonos a Londres 1 semana!!"</p>
							</div>
							
						</div>

						<hr>
						
						<div>
							<div class="d-flex justify-content-between mb-3">
								<h4 class="mb-0 pb-0">Gran viajera cercana!<span class="puntos">7.3</span></h4>
							</div>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis molestias, in atque impedit, rerum optio ad aperiam officia cumque, provident molestiae deleniti, obcaecati labore necessitatibus iste deserunt at vel nesciunt!</p>
							<div class="comentario-footer">
								<p class="mb-0">Comentado por: viajero92839</p>
								<p class="mb-3">En el viaje: "Vamonos a Londres 1 semana!!"</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 seccion-usuario px-0 border">
					<h3 class="p-3 mb-0">VIAJES REALIZADOS</h3>
					<div class="viajes text-muted">
						<p><i class="fas fa-long-arrow-alt-right"></i>"Vamonos a Londres 1 semana!!" — 4 viajeros — 29/04/2016</p>
						<p><i class="fas fa-long-arrow-alt-right"></i>"La vuelta al mundo en 30 días!" — 28 viajeros — 29/04/2016</p>
					</div>
				</div>

			</div>

		</div>

	</section>

</main>

