<main>
	
	<section class="container-fluid perfil-usuario">
		
		<div class="container">

			<div class="cabecera d-flex justify-content-around text-muted">
				<div class="mb-0">
					<a [routerLink]="['perfil']" [routerLinkActive]="'activa'" class="text-muted"><i class="fas fa-user"></i><span>Perfil</span></a>
				</div>

				<div class="mb-0">
					<a [routerLink]="['viajes']" [routerLinkActive]="'activa'" class="text-muted"><i class="fas fa-plane"></i><span>Viajes</span></a>
				</div>

				<div class="mb-0">
					<a [routerLink]="['peticiones']" [routerLinkActive]="'activa'" class="text-muted"><i class="fas fa-tasks"></i><span>Peticiones</span></a>
				</div>

				<div class="mb-0">
					<a [routerLink]="['puntuaciones']" [routerLinkActive]="'activa'" class="text-muted"><i class="fas fa-star"></i><span>Puntuaciones</span></a>
				</div>

			</div>
			
			<router-outlet></router-outlet>

		</div>

	</section>

</main>