<main>

	<section class="container-fluid detalle-viaje">

		<div class="container">

			<div class="fechas text-center text-muted">
				<p class="mb-0">{{ viaje?.fecha_inicio | date: 'dd-MM-y' }} <i class="far fa-calendar-alt"></i> {{ viaje?.fecha_fin | date: 'dd-MM-y' }}</p>
			</div>

			<div class="card cabecera-viaje rounded-0 border-bottom-0">
				<div class="row no-gutters">
					<div class="col-lg-6 d-flex align-items-center">
						<img [src]="viaje?.foto || './../../assets/images/placeholder-image.png'" class="card-img rounded-0" alt="Imagen del viaje">
					</div>
					<div class="col-lg-6">
						<div class="card-body">
							<h2 class="card-title">{{ viaje?.titulo }}</h2>
							<p class="card-text text-muted descripcion">{{ viaje?.descripcion }}</p>
							<p class="card-text publicado"><small>Publicado el {{ viaje?.fecha_creacion | date: 'dd-MM-y' }}</small></p>
						</div>
					</div>
				</div>
			</div>

			<div class="contenido-viaje row">
				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">DESTINOS</h3>
					<ul class="text-muted">
						<li *ngIf="viaje?.destinos_viaje == null || viaje?.destinos_viaje == ''; else elseDestinos">N/A</li>
						<ng-template #elseDestinos>		
							<li *ngFor="let destino of viaje?.destinos_viaje"><i class="fas fa-long-arrow-alt-right"></i>{{ destino }}</li>
						</ng-template>
					</ul>
				</div>

				
				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">ACTIVIDADES</h3>
					<ul class="text-muted">
						<li *ngIf="viaje?.actividades_viaje == null || viaje?.actividades_viaje == ''; else elseActividades">N/A</li>
						<ng-template #elseActividades>	
							<li *ngFor="let actividad of viaje?.actividades_viaje"><i class="fas fa-long-arrow-alt-right"></i>{{ actividad }}</li>
						</ng-template>
					</ul>
				</div>

				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">ETIQUETAS</h3>
					<ul class="text-muted" *ngIf="viaje?.etiquetas == null || viaje?.etiquetas == ''; else elseEtiquetas">
						<li>N/A</li>
					</ul>
					<ng-template #elseEtiquetas>	
						<div class="etiquetas text-muted">
							<div *ngFor="let etiqueta of viaje?.etiquetas">{{ etiqueta }}</div>
						</div>
					</ng-template>
				</div>

				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">OTROS DATOS</h3>
					<div class="otros-datos text-muted">
						<p><i class="fas fa-bed"></i>Tipo de alojamiento: {{ viaje?.alojamiento }}</p>
						<p><i class="fas fa-money-bill-wave"></i>Nivel del viaje: {{ viaje?.nivel_economico }}</p>
						<p><i class="fas fa-clock"></i>Duración: {{ viaje?.total_dias }} días</p>
						<p><i class="fas fa-users"></i>Cantidad de viajeros: {{ viaje?.total_viajeros + 1 }} / {{ viaje?.viajeros_max }}</p>
					</div>
				</div>

				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">ORGANIZADOR DEL VIAJE</h3>
					<div class="text-muted d-flex flex-column flex-lg-row">
						<div>
							<img [src]="viaje?.foto_organizador || './../../assets/images/defaultphoto.jpeg'" alt="Foto de perfil del organizador" class="w-100">
						</div>
						<div class="p-3 d-flex flex-column bd-highlight flex-fill w-100">
							<p class="bd-highlight">{{ viaje?.usuario_organizador }}</p>
		
							<p class="bd-highlight" *ngIf="viaje?.puntuacion_organizador == null || viaje?.puntuacion_organizador == ''; else elsePuntuacion">Puntuación: N/A</p>

							<ng-template #elsePuntuacion>	
								<p class="bd-highlight">Puntuación: {{ viaje?.puntuacion_organizador }}</p>
							</ng-template>

							<input class="btn btn-lg boton mt-auto bd-highlight" type="submit" value="Ver perfil" [routerLink]="['/perfil-viajero','1']">
						</div>
					</div>
				</div>

				<div class="col-md-6 px-0 seccion-viaje border">
					<h3 class="p-3">VIAJEROS</h3>
					<div class="text-muted d-flex flex-column flex-lg-row">
						<ul class="usuarios text-muted d-lg-flex flex-lg-wrap ">
							<li *ngIf="viaje?.viajeros_viaje == null || viaje?.viajeros_viaje == ''; else elseViajeros">Todavía no hay viajeros</li>
							<ng-template #elseViajeros>	
								<li *ngFor="let viajero of viaje?.viajeros_viaje"><i class="fas fa-long-arrow-alt-right"></i>{{ viajero }}</li>
							</ng-template>
						</ul>
					</div>
				</div>
			
			</div>
			
			<div class="d-block text-center my-4">
				<input class="btn btn-lg boton" type="submit" value="Enviar petición">
			</div>

		</div>
		
	</section>

</main>