<div class="row perfil text-muted">

	<div class="seccion-perfil col-lg-6">

		<ul class="list-group list-group-flush datos">
			<li class="list-group-item"><span>Usuario:</span> {{ viajero?.usuario }}</li>
			<li class="list-group-item"><span>Email:</span> {{ viajero?.email }}</li>
			<li class="list-group-item"><span>Contraseña:</span> ******</li>
			<li class="list-group-item"><span>Nombre:</span> {{ viajero?.nombre }}</li>
			<li class="list-group-item border-bottom"><span>Apellidos:</span> {{ viajero?.apellidos }}</li>
		</ul>
		
	</div>

	<div class="seccion-perfil col-lg-6 d-flex align-items-center">
		<div class="imagen-perfil ">
			<img [src]="viajero?.foto_perfil || './../../assets/images/defaultphoto.jpeg'" alt="Foto de perfil">
		</div>
	</div>

	<div class="seccion-perfil col-12 px-3 pt-0">
		<ul class="otros-datos mb-0">

			<li class="w-100" *ngIf="viajero?.sobre_mi; else elseSobreMi"><span>Sobre mi:</span> {{ viajero?.sobre_mi }}</li>
			<ng-template #elseSobreMi>
				<li class="w-100"><span>Sobre mi:</span> N/A</li>
			</ng-template>


			<li *ngIf="viajero?.ciudad; else elseCiudad"><span>Ciudad:</span> {{ viajero?.ciudad }}</li>
			<ng-template #elseCiudad>
				<li><span>Cuidad:</span> N/A</li>
			</ng-template>

			<li *ngIf="viajero?.sexo == 'F';"><span>Sexo:</span> Mujer</li>
			<li *ngIf="viajero?.sexo == 'M';"><span>Sexo:</span> Hombre</li>
			<li *ngIf="!viajero?.sexo;"><span>Sexo:</span> N/A</li>

			<li *ngIf="viajero?.fecha_nacimiento; else elseEdad"><span>Edad:</span> {{ edad }} años</li>
			<ng-template #elseEdad>
				<li><span>Edad:</span> N/A</li>
			</ng-template>
			
			<li *ngIf="viajero?.educacion; else elseEducacion"><span>Ciudad:</span> {{ viajero?.educacion }}</li>
			<ng-template #elseEducacion>
				<li><span>Educacion:</span> N/A</li>
			</ng-template>

			<li *ngIf="viajero?.ocupacion; else elseOcupacion"><span>Ciudad:</span> {{ viajero?.ocupacion }}</li>
			<ng-template #elseOcupacion>
				<li><span>Ocupacion:</span> N/A</li>
			</ng-template>

			<li *ngIf="viajero?.idiomas; else elseIdioma"><span>Idiomas:</span> {{ viajero?.idiomas }}</li>
			<ng-template #elseIdioma>
				<li><span>Idiomas:</span> N/A</li>
			</ng-template>

		</ul>

	</div>

	<div class="seccion-perfil col-12 px-3 border-bottom">
		<ul class="intereses px-3" *ngIf="viajero?.intereses; else elseIntereses">
			<li><span>Intereses:</span> </li>
			<li *ngFor="let interes of viajero?.intereses">{{ interes }}</li>
		</ul>
		
		<ng-template #elseIntereses>
			<ul class="intereses px-3">
				<li class="d-inline"><span>Intereses:</span> </li>
				<p class="d-inline">N/A</p>
			</ul>
		</ng-template>
	</div>

	<div class="d-block text-center mx-auto my-4">
		<a *ngIf="viajero" class="btn btn-lg boton mx-3" [routerLink]="['/perfil-viajero', viajero?.id]">Ver Perfil</a>
		<a class="btn btn-lg boton mx-3 color-enlace" (click)="handleClick()">Editar Perfil</a>
	</div>

</div>