<main>

	<div class="container-fluid pb-3 buscador">
		
		<div class="container">
			
			<div class="title-buscar">
				<h2>Buscar Viajes</h2>
			</div>

			<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
				
				<div class="body-buscar">
					
					<div class="form-row px-4 pt-4">

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="destino">Destino</label>
							<input type="text" class="form-control" id="destino" formControlName="destino" placeholder="País, ciudad, región...">
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="fecha_inicio">Fecha inicio</label>
							<input type="date" class="form-control fecha-input" id="fecha_inicio" formControlName="fecha_inicio">
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="fecha_fin">Fecha fin</label>
							<input type="date" class="form-control fecha-input" id="fecha_fin" formControlName="fecha_fin">
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="duracion">Duración</label>
							<div class="sufijo">
								<input type="number" class="form-control" id="duracion" formControlName="duracion">
								<span>días</span>
							</div>
						</div>

					</div>

					<div class="form-row px-4 pt-lg-3 pb-4">
						
						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="viajeros_max">Acompañantes máximos</label>
							<input type="number" class="form-control" id="viajeros_max" formControlName="viajeros_max">
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="tipo_turismo">Tipos de turismo</label>
							<input type="text" class="form-control" id="tipo_turismo" formControlName="tipo_turismo" placeholder="Cultural, playa, naturaleza...">
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="tipo_alojamiento">Tipo de alojamiento</label>
							<select class="form-control" id="tipo_alojamiento" formControlName="tipo_alojamiento">
								<option hidden disabled selected value> Selecciona el tipo</option>
								<option value="Camping">Camping</option>
								<option value="Casa Rural">Casa Rural</option>
								<option value="Apartamento">Apartamento</option>
								<option value="Motel">Motel</option>
								<option value="Hostal">Hostal</option>
								<option value="Hotel">Hotel</option>
								<option value="Resort">Resort</option>
								<option value="Otros">Otros</option>
							</select>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-3 form-group">
							<label for="nivel_economico">Nivel económico</label>
							<select class="form-control" id="nivel_economico" formControlName="nivel_economico">
								<option hidden disabled selected value> Selecciona el tipo</option>
								<option value="Mochilero">Mochilero</option>
								<option value="Low Cost">Low Cost</option>
								<option value="Medio">Medio</option>
								<option value="Alto">Alto</option>
								<option value="Lujo">Lujo</option>
							</select>
						</div>

					</div>

				</div>

				<div class="d-flex justify-content-center mt-3">
					<input class="btn btn-lg boton" type="submit" value="Buscar">
				</div>

			</form>
			
		</div>

	</div>

	<hr class="pb-0 mb-0 mt-4">

	<div class="container-fluid resultados">
		
		<div class="container mt-4">

			<div class="row">

				<div class="col-md-6 col-lg-6 col-xl-4 py-3">
					<div class="card h-100">
						<div class="card-cabecera">
							<img src="https://86087-590828-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2016/01/paris-fin-de-semana-1024x683.jpeg" class="card-img-top" alt="Imagen del Destino">
							<div class="userprofile"></div>
							<div class="contenedor-icono-users">
								<i class="fas fa-users"></i>
							</div>
							<div class="cantidad-viajeros">3/10</div>
						</div>

						<div class="card-iconos d-flex flex-wrap justify-content-center">
							<div class="">
								<i class="fas fa-map-marked-alt"></i>
								<p>3 Destinos</p>
							</div>
							<div>
								<i class="fas fa-tags"></i>
								<p>8 Etiquetas</p>
							</div>
							<div>
								<i class="fas fa-bed"></i>
								<p>Apartamento</p>
							</div>
						</div>
						
						<div class="card-body">
							<h5 class="card-title">Viaje por Francia</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consec adipisicing elit. Labore, necessitatibus!...</p>
						</div>
						
						<div class="fechas text-center mb-3 mt-2">
							<p class="mb-0">12-11-2017 <i class="far fa-calendar-alt"></i> 21-11-2017</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</main>