<main>

	<div class="container-fluid pb-3 buscador">
		
		<div class="container">
			
			<div class="title-buscar">
				<h2>Buscar Viajes</h2>
			</div>

			<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
				
				<div class="body-buscar">
					
					<div class="form-row px-4 pt-4">

						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="destino">Destino</label>
							<input type="text" class="form-control" id="destino" formControlName="destino" placeholder="País, ciudad, región...">
						</div>

						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="fecha_inicio">Fecha inicio</label>
							<input type="date" class="form-control fecha-input" id="fecha_inicio" formControlName="fecha_inicio">
						</div>

						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="fecha_fin">Fecha fin</label>
							<input type="date" class="form-control fecha-input" id="fecha_fin" formControlName="fecha_fin">
						</div>

					</div>

					<div class="form-row px-4 pt-lg-3 pb-4">
						
						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="viajeros_max">Acompañantes máximos</label>
							<input type="number" class="form-control" id="viajeros_max" formControlName="viajeros_max">
						</div>

						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="tipo_alojamiento">Tipo de alojamiento</label>
							<select class="form-control" id="tipo_alojamiento" formControlName="tipo_alojamiento">
								<option hidden disabled selected value> Selecciona el tipo</option>
								<option value="Camping">Camping</option>
								<option value="Casa Rural">Casa Rural</option>
								<option value="Apartamento">Apartamento</option>
								<option value="Motel">Motel</option>
								<option value="Hostal">Hostal</option>
								<option value="Hotel">Hotel</option>
								<option value="Resort">Resort</option>
								<option value="Otros">Otros</option>
							</select>
						</div>

						<div class="col-sm-12 col-md-4 col-lg-4 form-group">
							<label for="nivel_economico">Nivel económico</label>
							<select class="form-control" id="nivel_economico" formControlName="nivel_economico">
								<option hidden disabled selected value>Selecciona el tipo</option>
								<option value="Mochilero">Mochilero</option>
								<option value="Low Cost">Low Cost</option>
								<option value="Medio">Medio</option>
								<option value="Alto">Alto</option>
								<option value="Lujo">Lujo</option>
							</select>
						</div>

					</div>

				</div>

				<div class="d-flex justify-content-center mt-3">
					<input class="btn btn-lg boton" type="submit" value="Buscar">
				</div>

			</form>
			
		</div>

	</div>

	<hr class="pb-0 mb-0 mt-4">

	<app-resultado-viajes [viajes]="viajes"></app-resultado-viajes>

</main>