<div class="jumbotron rounded-0">
	<div class="container">
		<h1>NO VUELVAS A VIAJAR SOLO</h1>
		<p class="lead">Únete a otros viajeros. Crea tu propio viaje</p>
		<a class="btn btn-outline-light btn-lg" href="#" role="button" [routerLink]="['/buscar/viajes']">Buscar viaje</a>
		<a class="btn btn-outline-light btn-lg" href="#" role="button">Nuevo viaje</a>
	</div>
</div>

<main>

	<section id="comofunciona">
		
		<article>
			<div class="container">
				<div class="row">
					<div class="d-flex justify-content-center align-items-md-center col-md-4 col-sm-12">
						<img class="mb-4" src="./../../assets/images/conexion.png">
					</div>
					<div class="col-md-8 col-sm-12">
						<h3 class="pb-3 mt-4">Olvídate de viajar solo</h3>
						<div>
							<p class="lead">Si no encuentras a nadie para ir a ese lugar que siempre deseaste visitar y eres de los que le gusta conocer gente nueva, con LinkedTrip podrás conectar con personas como tú que quieren disfrutar de un viaje ideal.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		
		<hr>

		<article>
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-8 col-sm-12 order-2 order-md-1">
						<h3 class="pb-3 mt-4">Únete o decide</h3>
						<div>
							<p class="lead">Crea un perfil atractivo y pide unirte a otros viajeros mandando peticiones a las propuestas que más te interesen. O bien sé el primero en proponer un viaje, espera las peticiones de otros viajeros y decide quien viaja contigo.</p>
						</div>
					</div>
					<div class="d-flex justify-content-center align-items-md-center col-md-4 col-sm-12 order-1 order-md-2">
						<img class="mb-4" src="./../../assets/images/redes.png">
					</div>
				</div>
			</div>
		</article>
		
		<hr>

		<article>
			<div class="container">
				<div class="row">
					<div class="d-flex justify-content-center align-items-md-center col-md-4 col-sm-12">
						<img class="mb-4" src="./../../assets/images/grupo.png">
					</div>
					<div class="col-md-8 col-sm-12">
						<h3 class="pb-3 mt-4">Organízate con tus compañeros</h3>
						<div>
							<p class="lead">Una vez estés dentro de un grupo, empieza a organizar el viaje con tus compañeros. Puedes proponer todas las actividades que te gustaría realizar en el viaje o aceptar las propuestas de los demás si eres el organizador.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		
		<hr>

		<article>
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-8 col-sm-12 order-2 order-md-1">
						<h3 class="pb-3 mt-4">Viaja y puntúa</h3>
						<div>
							<p class="lead">Tras terminar de organizar el viaje y con el itinerario ya hecho, solo queda reunirte con tu grupo y... ¡viajar! Y después del viaje no te olvides puntuar a tus compañeros para que todos puedan saber que tipo de viajeros son.</p>
						</div>
					</div>
					<div class="d-flex justify-content-center align-items-md-center col-md-4 col-sm-12 order-1 order-md-2">
						<img class="mb-4" src="./../../assets/images/mundo.png">
					</div>
				</div>

				<div class="mx-auto text-center">
					<a class="btn btn-lg buttonReg" href="#" role="button" [routerLink]="['/registro']">Regístrate</a>
				</div>
			</div>
		</article>

	</section>

</main>